@import "./base.css";

#app {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  color: #313131;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.v-btn {
  text-transform: none !important;
}

header {
  font-family: "Barlow", serif;
  font-weight: 600;
  font-style: normal;
}

@media (min-width: 1024px) {
  body {
    display: flex;
  }

  #app {
    padding: 0 2rem;
  }
}
